mixin range({ isRange, isVertical, start, end, step, scaleStep, color, prefix, hasTagmark, values,  } = {})
  .range.js-range(
    data-is-range=isRange
    data-is-vertical=isVertical
    data-start=start
    data-end=end
    data-step=step
    data-scale-step=scaleStep
    data-color=color
    data-prefix=prefix
    data-has-tagmark=hasTagmark
    data-values=values
  )